:root {
    --color-green-bright: #76ff03;
    --color-green-dark: #33691e;
    --color-amber: #ffb300;
    --color-dark: #121212;
    --color-scanline: rgba(0, 0, 0, 0.2);
}

* {
    font-family: 'VT323', 'Courier New', Courier, monospace;
    box-sizing: border-box;
    color: var(--color-green-bright);
}

body {
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adiciona efeito de scanline de monitor antigo */
body::after {
    content: " ";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg,
            var(--color-scanline) 0,
            var(--color-scanline) 1px,
            transparent 1px,
            transparent 2px);
    pointer-events: none;
}

#options {
    display: flex;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid var(--color-green-bright);
}

.btn {
    padding: 1rem 0rem 1rem 0rem;
    border: 2px solid var(--color-green-bright);
    background-color: var(--color-dark);
    box-shadow: 4px 4px 0px var(--color-green-dark);
    cursor: pointer;
    width: 6rem;
    font-size: 4rem;
}

.btn:hover {
    background-color: var(--color-green-dark);
    box-shadow: 2px 2px 0px var(--color-green-dark);
    transform: translate(2px, 2px);
}

.btn:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px ridge var(--color-green-bright);
    height: 35rem;
    width: 45rem;
    text-align: center;
}

#computer-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px ridge var(--color-green-bright);
    height: 10rem;
    width: 10rem;
    font-size: 4rem;
}

#result-message {
    font-size: 1.5rem;
    margin-top: 1rem;
    min-height: 2em;
}

p {
    background-color: transparent;
    font-size: 1.2rem;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px var(--color-green-dark);
}

#player-score,
#computer-score {
    font-size: 2rem;
    color: var(--color-amber);
    text-shadow: 2px 2px 0px var(--color-dark);
}